language: java

jdk:
  - oraclejdk11
  - oraclejdk8

install:
  - chmod -R 777 ./mvnw
  - ./mvnw install -DskipTests=true -Dmaven.javadoc.skip=true -B -V

after_success:
  - ./mvnw clean test jacoco:report coveralls:report -Dcoveralls.token=$COVERALLS
